@charset "UTF-8";

* {
    box-sizing: border-box;
}

/*Box Model*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Flotantes*/
[class*="col-"] {
    float: left;
}


/* MEDIA QUERY */
/* [321,480]*/
@media only screen 
and (max-width : 480px){
	[class*="col-"] {
		
	}

	body{
		width: 100%;
	}

	header{
		padding: 1% 1% 1%;
		font-size: .4em;
		text-align: center
	}

	div#trailer{
		display: none;
	}

	div h2#titulo-p{
		font-size: 150%;
		position: absolute;

	}

	div#poster{
		position: static;
		display: inline-block;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	div#poster img{
		width: 100%;
	}
	
	div:first-child {
		width: 100% !important;
		border:none;
		position: static;
		border-bottom: 2px dotted !important;
		height: 280px !important;
	}

	div:first-child div#reparto {
		display: none;
	}

	div:first-child div#poster{
		position: static;
		display: inline-block;
		width: 40%;
		margin: 0px;
		padding: 0px;
	}

	div:first-child div#sinopsis {
		position: static;
		display: inline-block;
		width: 58%;
		vertical-align: top;
		font-size: 80%;
	}

	div:first-child h2#titulo-p {
		position: static;
		font-size: 150%;
	}

	div#sinopsis{
		display: none;
	}

	div#pelicula{
		width: 49%;
		position: relative;
		display: inline-block;
	}

	div#sinopsis p{
		margin: 0px;
	}

	div#sinopsis h3{
		margin: 5px;
	}

	div#reparto{
		position: static;
		order:2;
	}

	ul{
		margin:0px;
		padding: 0px;
		display: inline;
	}


	ul li{
		list-style: none;
		display: inline;
		font-size: 90%;
		margin:0px;
		padding: 0px;

	}

	ul li::before{
		content: ", ";
	}

	div#reparto h3{
		display: inline;
		padding: 0px;
		margin:0px;
		font-size: 90%;
	}

	div#reparto{
		position: static;
		width: 100%;
	}
}