header h1{
	text-align: center;
}

#caja-principal h2{
	margin-left: 15px;
}

div[id|=caja]{
	margin: 0% 14% 1% 14%;
	border-width: : 1pt;
	border-style: solid;
	border-color: #cbccc1;
	padding: 5px;
}

div.foto-perfil img{
	margin: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#caja-datosPersonales > h2{
	text-align: center;
	margin: 5px;
}

div#caja-datosPersonales > p{
	margin-left: 15px;
}

div#habilidad{
	width: 100px;
	border-radius: 70px;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #cecece;
	font-weight: bold;
	box-shadow: 2px 2px 7px grey;
	float: left;
	display: block;
}

div#habilidad span{ 
	color: white;
	border-radius: 70px;
	background: #241872;
	padding: 10px;
@charset "UTF-8";
}